{% extends 'base.html' %}


{%block title%}
Tasks
{% endblock title%}

{% block content %}

{% if current%}
<h1>Current</h1>

{% comment %}
    Aktualne taski
{% endcomment %}

{% for task in current %}

<a href="{% url 'detail' task.id %}">
    <h2>{{task.title|upper|escape}}</h2>
</a>
{% endfor %}

{% endif %}

{% if completed %}
<h1>Completed</h1>

{% comment %}
    Ukończone taski
{% endcomment %}

{% for task in completed %}

<a href="{% url 'detail' task.id %}">
    <h2>{{task.title|upper}}</h2>
</a>

{% endfor %}

{% endif %}

{% endblock %}
